html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  z-index: 2;
  top: 0px;
  /* background-color: var(--chakra-colors-chakra-body-bg); */
  backdrop-filter: blur(10px);
}

.body-content {
  flex-grow: 1;
}
